<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Create A User.</title>
    </h:head>
    <h:body>
        
            

                <h:form>
                    <h1><h:outputText value="Create"/></h1>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="Id:" for="id" />
                        <p:inputText id="id" value="#{userMBean.user.id}" title="Id" />
                        <p:outputLabel value="FirstName:" for="firstName" />
                        <p:inputText id="firstName" value="#{userMBean.user.firstName}" title="FirstName" />
                        <p:outputLabel value="LastName:" for="lastName" />
                        <p:inputText id="lastName" value="#{userMBean.user.lastName}" title="LastName" />
                        <p:outputLabel value="Email:" for="email" />
                        <p:inputText id="email" value="#{userMBean.user.email}" title="Email" />
                        <p:outputLabel value="Password:" for="password" />
                        <p:inputText id="password" value="#{userMBean.user.password}" title="Password" />
                        <p:outputLabel value="Type:" for="type" />
                        <p:inputText id="type" value="#{userMBean.user.type}" title="Type" />
                        <p:outputLabel value="StreetAddress:" for="streetAddress" />
                        <p:inputText id="streetAddress" value="#{userMBean.user.streetAddress}" title="StreetAddress" />
                        <p:outputLabel value="City:" for="city" />
                        <p:inputText id="city" value="#{userMBean.user.city}" title="City" />
                        <p:outputLabel value="Country:" for="country" />
                        <p:inputText id="country" value="#{userMBean.user.country}" title="Country" />
                        <p:outputLabel value="PostCode:" for="postCode" />
                        <p:inputText id="postCode" value="#{userMBean.user.postCode}" title="PostCode" />
                        <p:outputLabel value="Number:" for="number" />
                        <p:inputText id="number" value="#{userMBean.user.number}" title="Number" />
                    </p:panelGrid>
                    <h:commandButton value="Save" action="#{userMBean.add()}"></h:commandButton>

            </h:form>
        

    </h:body>
</html>

