<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="Create/Edit"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Id:" for="id" />
                    <h:inputText id="id" value="#{bookingMBean.b.id}" title="Id" />
                    <h:outputLabel value="Transaction:" for="transaction" />
                    <h:inputText id="transaction" value="#{bookingMBean.b.transaction}" title="Transaction" />
                    <h:outputLabel value="Type:" for="type" />
                    <h:inputText id="type" value="#{bookingMBean.b.type}" title="Type" />
                    <h:outputLabel value="UserName:" for="userName" />
                    <h:inputText id="userName" value="#{bookingMBean.b.userName}" title="UserName" />
                    <h:commandButton value="Save" action="#{bookingMBean.add()}"></h:commandButton>
                </h:panelGrid>
            </h:form>
        </f:view>

    </h:body>
</html>

