<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    <h:head>
       <title>Monash Booking System</title>
        
    </h:head>
    
    <h:body >
        Welcome to Monash Booking Systems.
        
        <h:form>
            <h:commandButton  value = "Add New User" action="add" />
            <h:commandButton  value = "Add New Booking" action="createbooking" />
            
            
            <br>
                
            </br>
            <h:column>    				
                <f:facet name = "header">Search By ID</f:facet> <h:inputText value="#{transactionMBean.tempId}" />    
                    <h:commandButton  value = "Search By ID/Enter ID for details" action="#{transactionMBean.searchById()}" />
                    
                    <f:facet name = "header">Search By Name</f:facet> <h:inputText value="#{transactionMBean.tempName}" />    
                    <h:commandButton  value = "Search By Name" action="#{transactionMBean.searchByName()}" />
                    
                    <f:facet name = "header">Search By Type</f:facet> <h:inputText value="#{transactionMBean.tempType}" />    
                    <h:commandButton  value = "Search By Type" action="#{transactionMBean.searchByType()}" />
                    
                    <br></br>
                    <p:dataTable var="t" value="#{transactionMBean.transList}"  tableStyle="width:auto">
                        <br></br>
                        <p:column headerText="Transaction ID">
                        <h:outputText value="#{t.transId}" />
                        </p:column>
 
                        <p:column headerText="Name">
                        <h:outputText value="#{t.transName}" />
                        </p:column>
                        
                    </p:dataTable>
                    <br>
                        
                    </br>
        
            <h:commandButton  value = "Show Details" action="search" />
            <br></br>
            </h:column>
            <br></br>
            
            <f:facet name = "header">View All Users</f:facet>
            <h:commandButton value="Show All Users" action="#{userMBean.findAll()}" />
             
                
            <p:dataTable var="u" value="#{userMBean.userList}" tableStyle="width:auto">
            
         
                    
                    
            <p:column>
                <f:facet name="header">ID</f:facet>
                <h:outputText value="#{u.id}"></h:outputText>
            </p:column>
            
            <p:column>
                <f:facet name="header">First Name</f:facet>
                <h:outputText value="#{u.firstName}"></h:outputText>
            </p:column>
            
            <p:column>
                <f:facet name="header">Last Name</f:facet>
                <h:outputText value="#{u.lastName}"></h:outputText>
            </p:column>
<p:column>
                <f:facet name="header">Street Address</f:facet>
                <h:outputText value="#{u.streetAddress}"></h:outputText>
            </p:column>
            
            <p:column>
                <f:facet name="header">City</f:facet>
                <h:outputText value="#{u.city}"></h:outputText>
            </p:column>
            
            <p:column>
                <f:facet name="header">Country</f:facet>
                <h:outputText value="#{u.country}"></h:outputText>
            </p:column>
            
            
            <p:column>
                <f:facet name="header">Postcode</f:facet>
                <h:outputText value="#{u.postCode}"></h:outputText>
            </p:column>
            
            <p:column>
                <f:facet name="header">Email</f:facet>
                <h:outputText value="#{u.email}"></h:outputText>
            </p:column>
            
            
            <p:column>
                <f:facet name="header">Type</f:facet>
                <h:outputText value="#{u.type}"></h:outputText>
            </p:column>
                <p:column>
            <f:facet name = "header">Options</f:facet>     
            <h:commandLink  value = "Edit" action="#{userMBean.edit(u)}"  />    
        
            <h:commandLink  value = "Delete" action="#{userMBean.delete(u)}" onclick="return confirm('Sure?')" />    
        </p:column>
                
            </p:dataTable>
            <f:facet name = "header">View All Bookings</f:facet>
        <h:commandButton  value = "All Bookings" action="#{bookingMBean.findAll()}"/>
        <p:dataTable var="b" value="#{bookingMBean.booking}" tableStyle="width:auto">
            
         
                    
                    
            <p:column>
                <f:facet name="header">ID</f:facet>
                <h:outputText value="#{b.id}"></h:outputText>
            </p:column>
            
            <p:column>
                <f:facet name="header">Transaction</f:facet>
                <h:outputText value="#{b.transaction}"></h:outputText>
            </p:column>
            
            <p:column>
                <f:facet name="header">Type</f:facet>
                <h:outputText value="#{b.type}"></h:outputText>
            </p:column>
<p:column>
                <f:facet name="header">Name</f:facet>
                <h:outputText value="#{b.userName}"></h:outputText>
            </p:column>
            <p:column>
                <f:facet name = "header">Options</f:facet>
            <h:commandLink  value = "Delete" action="#{bookingMBean.delete(b)}" onclick="return confirm('Sure?')" />
        </p:column>    
        </p:dataTable>
            
        </h:form>
    </h:body>
    
</html>
