<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Monash Booking System</title>
        
    </h:head>
    
    <h:body >
        Welcome to Monash Booking Systems.
        <h:form>
            
                
               <h:inputText value="#{transactionMBean.secondTemp}" />    
                    <h:commandButton  value = "Click Again For Details" onclick="#{transactionMBean.searchById()}" />
                    
                    <p:dataTable var="t" value="#{transactionMBean.transList}"  tableStyle="width:auto">
                        <br/>
                        <br/>
        
                        <p:column headerText="Transaction ID">
                        <h:outputText value="#{t.transId}" />
                        </p:column>
 
                        <p:column headerText="Name">
                        <h:outputText value="#{t.transName}" />
                        </p:column>
                        <p:column headerText="Transaction Type">
                            <h:outputText value="#{t.transType}" />
                        </p:column>
                        <p:column headerText="Description">
                            <h:outputText value="#{t.description}" />
                        </p:column>
                    </p:dataTable>
            

        </h:form>
    </h:body>        
</html>
